<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
  </head>
  <body>
    <%- include("./partials/errors.ejs") %> <% if (messages.error &&
    messages.error.length > 0) { %>
    <p style="color: red"><%= messages.error[0] %></p>
    <% } %> <% if (user) { %>
    <h1>Folder of <%= user.email %></h1>
    <!-- TODO CREATE INPUT TO INSERT NEW NAME OF FOLDER AND ANOTHER CONTROL TO DELETE IT -->
    <div class="folder_board">
      <div class="folder_name"><%= folder.name %></div>
      <div class="folder_time"><%= folder.createdTime %></div>
    </div>

    <h2>Create a new folder:</h2>
    <form action="/profile/new-folder" method="POST">
      <label for="folder_name">Folder Name</label>
      <input
        id="folder_name"
        name="folder_name"
        placeholder="Type the folder name"
        type="text"
        required
      />
      <button type="submit">Create</button>
    </form>

    <a href="/profile">Go to profile</a>
    <a href="/logout">Log out</a>
    <% } else { %>
    <p>Please log in first on the homepage.</p>
    <a href="/">Go to homepage</a>
    <% } %>
  </body>
</html>
